.example-card {
    max-width: 400px;
    margin: 5px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  img{
    height: 200px;
    width: 180px;
  }
  .container{
    text-align: center;
    justify-content: center;
  }
.example-button-row button,
.example-button-row a {
  margin-right: 8px;
  text-decoration: none;
}