<h2>DETALLE DE PRODUCTO</h2>
<mat-card class = "example-card"  *ngIf="product"> 
  <mat-card-header>
       
    <mat-card-title> PRODUCTO : {{product.id}}</mat-card-title>
    <mat-card-subtitle>{{product.name}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="/assets/img-productos/{{product.imageUrl}}" alt="{{product.name}}">
  <mat-card-content> 
      <h3>precio : {{product.price}} €</h3>
  </mat-card-content> 
  <mat-card-actions> 
    <!-- <button mat-button>CANCELAR</button> 
    <button  mat-button> COMPRAR </button>  -->
    <div class="example-button-row">
      <a mat-stroked-button [routerLink]="['/']">Volver</a>
      <a mat-stroked-button (click)="buyProduct(product.id)" [routerLink]="['/customer']">Comprar</a>
    </div>  
  </mat-card-actions> 
</mat-card>